/***** Fonts *****/
// family
$fontPoppins: 'Poppins', sans-serif;
$fontLobster: 'Lobster', cursive;
$fontLato: 'Lato', sans-serif;
// size
$fontsize50:50px;
$fontsize32:32px;
$fontsize30:30px;
$fontsize28:28px;
$fontsize25:25px;
$fontsize20:20px;
$fontsize18:18px;
$fontsize16:16px;
$fontsize15:15px;
$fontsize12:12px;
$fontsize10:10px;
$fontsize8:8px;
// weight
$fontweightnormal:normal;
$fontweightbold:bold;
$fontweight600:600;
$fontweight500:500;
$fontweight300:300;
/***** Colors *****/
$white: white;
$whiteGrey:rgb(202, 202, 202);
$pureBlack: black;
$blacktitre: #484848;
$black:#42495b;
$grey:#7a839e;
$bluepurple: #7e76f9;
$blue:#1000ff;
$greyinput:#f6f7fb;
$bgbutton:linear-gradient(to left, #6156f9, #1a129f);
$bgWhitebutton:linear-gradient(to left, #e5e3ff, #e2e2e2);
$bgSectionPrice: #7f76f939;